* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


    

.signupForm {
    /* background-color: lightcoral;*/
    width: 50%;
    margin: 10px auto;
    padding-bottom: 20px;

}

.signupForm fieldset {
    padding: 50px;
    border:2px solid black;
    border-radius: 5%;
}

.signupForm legend {
    margin: 0 auto;
    
}

.signupForm legend img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.heading {
    font-family: monospace;
    color: white;
    font-size: 20px;
    
}


.form {
    margin: 20px 0;

}

.backdrop {
    backdrop-filter: blur(5px);
    border: 1px solid transparent;
    border-radius: 1%;
    padding-left: 5px;

}

.form label {
    display: block;
    margin: 10px 0;
    font-family: monospace;
    color: rgb(17, 16, 16);
    font-weight: bold;
}

.form input {
    width: 70%;
    outline: none;
    height: 40px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(22, 21, 21);
    font-family: monospace;

    /* font-weight: bold; */
}



.form select {
    width: 70%;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid black;

}
.form select:hover{
    color: rgb(23, 126, 194);
    transition: 0.5s;
}


.form button {
    margin: 20px 0;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: rgb(160, 170, 21);
    border-radius: 8px;
    color: white;
    cursor: pointer;
} 
.form button:hover{
    color: rgb(166, 255, 0);
    transition: 0.2s;
    width: 100%;
}



.parent {
    background-image: url("./Assets/360_F_119115529_mEnw3lGpLdlDkfLgRcVSbFRuVl6sMDty.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    backface-visibility: visible;

}
.last{
    text-align: center;
}